<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Añadir Horario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div th:replace="headers/nuevo_headers.html"></div>


<div class="container mt-4">
    <h2 class="mt-4">Añadir nuevo horario</h2>

    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/horario/create}" method="post">
                    <label for="id_asignatura">ID Asignatura:</label><input type="number" class="form-control" id="id_asignatura" name="id_asignatura" required>
                    <label for="tiempo_empieza">Empieza:</label><input type="time" class="form-control"  id="tiempo_empieza" name="tiempo_empieza" required>
                    <label for="tiempo_acaba">Acaba:</label><input type="time" class="form-control" id="tiempo_acaba" name="tiempo_acaba" required>
                    <label for="dia">Dia:</label><input type="date" class="form-control" id="dia" name="dia" required>
                <div class="row justify-content-center">
                    <div class="col-md-6 justify-content-center">
                        <div class="mt-2 text-center">
                            <button type="submit" class="btn btn-dark" style="width: 10rem">Guardar</button>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="btn btn-primary btn-dark" th:href="@{/horarios}" style="width: 10rem">Volver</a>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>

</div>


</body>
</html>
