<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista de Estudiantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Group.getName()</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" th:href="@{/cursos}">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profesores}">Profesores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/estudiantes}">Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/horarios}">Horarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/asignaturas}">Asignaturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                </li>


            </ul>
        </div>
        <form class="form-inline ml-auto" th:action="@{/estudiante/create}" sec:authorize="hasRole('ADMIN')">
            <button class="btn btn-outline-light" type="submit"> Añadir estudiante</button>
        </form>
        <form class="form-inline ml-auto" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-light" type="submit">Logout</button>
        </form>

    </div>
</nav>
<div class="container mt-4">
    <h2 class="mt-4">Lista de Estudiantes</h2>

    <div class="row">
        <div class="col-md-12">
            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">NIF</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha registro</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="estudiante: ${estudiante}">
                    <td th:text="${estudiante.id_estudiante}"></td>
                    <td th:text="${estudiante.nombre}"></td>
                    <td th:text="${estudiante.apellido}"></td>
                    <td th:text="${estudiante.telefono}"></td>
                    <td th:text="${estudiante.nif}"></td>
                    <td th:text="${estudiante.email}"></td>
                    <td th:text="${estudiante.dateRegistered}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-md-2 text-right mt-4">
            <a class="btn btn-primary btn-dark" th:href="@{/}">Volver</a>
        </div>
    </div>
</div>

</body>
</html>
