<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Añadir Horario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Group.getName()</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" th:href="@{/cursos}">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profesores}">Profesores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/estudiantes}">Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/horarios}">Horarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/asignaturas}">Asignaturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                </li>


            </ul>
        </div>
        <form class="form-inline ml-auto" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-light" type="submit">Logout</button>
        </form>

    </div>
</nav>

<div class="container mt-6 justify-content-center">
    <h2 class="mt-4">Añadir nuevo horario</h2>

    <div class="row justify-content-center">
        <div class="col-md-6 justify-content-center">
            <form th:action="@{/horario/create}" method="post">
                    <label for="id">ID:</label><input type="text" id="id" name="id" required>
                    <label for="asignatura">Asignatura:</label><input type="text" id="asignatura" name="asignatura" required>
                    <label for="horario">Horario:</label><input type="text" id="horario" name="horario" required>
                    <label for="tiempo_empieza">Empieza:</label><input type="text"  id="tiempo_empieza" name="tiempo_empieza" required>
                    <label for="tiempo_acaba">Acaba:</label><input type="text"id="tiempo_acaba" name="tiempo_acaba" required>
                    <label for="dia">Dia:</label><input type="text" id="dia" name="dia" required>
            </form>
        </div>
    </div>


</div>
<div class="row justify-content-center">
    <div class="col-md-6 justify-content-center">
        <div class="mt-2 text-center">
            <button type="submit" class="btn btn-dark" style="width: 10rem">Guardar</button>
        </div>
        <div class="mt-2 text-center">
            <a class="btn btn-primary btn-dark" th:href="@{/horario}" style="width: 10rem">Volver</a>
        </div>
    </div>

</div>

</body>
</html>
