<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Custom Login Page</title>
</head>
<body>
<form action="#" th:action="@{/authenticateTheUser}" method="post">
    <!-- Check for login error -->
    <div th:if="${param.error}">
        <i> Sorry! You entered invalid username/password</i>
    </div>

    <!-- Check for logout -->
    <div th:if="${param.logout}">
        <div class="alert alert-success col-xs-offset-1 col-xs-10">
            You have been logged out.
        </div>
    </div>

    <div>
        <label >Username:  </label>
        <input type="text" name="username"/>

    </div>

    <div>
        <label>Password: </label>
        <input type="password" name="password" />

    </div>

    <input type="submit" value="Login">

</form>

</body>
</html>